@import "_import.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

body{
    background-color: var(--mainColor);
}

a, a:visited{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

/* Global Header */
.globalHeader{
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 9;
}

.globalHeader .indexLink{
    font-family: 'Bebas Neue', cursive;
}

.globalHeader .indexLink span{
    display: block;
    color: white;
}

.globalHeader .indexLink .mainTitle{
    Font-size: 6rem;
    line-height: 5.2rem;
}

.globalHeader .indexLink .baseLine{
    Font-size: 1.5rem;
    margin-left: .2rem;
}

/*  global footer */

.globalFooter{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 9;
}

.globalFooter nav .navigationContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.globalFooter nav .navigationContainer .navigationList:not(:last-of-type){
    margin-right: 1rem;
}

.globalFooter nav .navigationContainer .navigationList .navigationLink{
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(148, 145, 145);
    transition: color .6s;
}

.globalFooter nav .navigationContainer .navigationList .navigationLink:hover{
    color: white;
}


/* Media queries */
@media screen and (max-width: 767.98px) {

    .globalHeader .indexLink .mainTitle{
        Font-size: 4rem;
        line-height: 3.2rem;
    }
    
    .globalHeader .indexLink .baseLine{
        Font-size: 1rem;
        margin-left: .2rem;
    }
}